{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'time_tracker/home.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <h1>Time Tracker</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button id="chk-btn" type="submit">Check</button>
      </form>
      <p id="chk-rec">
        {% if last_check %}
        <p>Last check by <b>{{ last_check.employee.employee_name }}</b> on <b>{{ last_check.check_time }}</b></p>
        {% endif %}
      </p>
      <footer>
        <p>&copy; 2023 Rand Naem. All rights reserved.</p>
    </footer>
    </main>
    </body>
</html>