{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{% static 'time_tracker/success.css' %}">
</head>
<body>
    <main>
        <h2>Thank you {{ last_check.employee.employee_name }} ! </h1>
        <h2>You checked successfully</h1>
        <h3>{{ last_check.check_time }}</h3>
    </main>
    <footer>
        <p>&copy; 2023 Rand Naem. All rights reserved.</p>
    </footer>
</body>
</html>