*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: cadetblue;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}
h1{
    font-size: 3rem;
}
#chk-btn{
    font-size: 1.5em;
    padding: 10px;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#chk-btn:hover{
    background-color:rgb(132, 221, 224);
    color: white;
}
p{
    color:maroon;
    font-size: 1.25em;
}
pre{
    color: white;
}